<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="{% url 'report-importer' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" >
            <span class="fs-4">Cargo Reports</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a {% if '' in request.path %} class="nav-link dropdown-toggle bg-gray-color text-white" {% else %} class="nav-link dropdown-toggle text-ashgray" {% endif %} role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Reports
                </a>
                <ul class="dropdown-menu">
                    {% if request.path == '/' %}
                        <li>
                            <a class="dropdown-item text-ashgray" href="{% url 'report-importer' %}">
                                <i class="fa-solid fa-arrow-right"></i> Report Uploader</a>
                        </li>
                    {% else %}
                        <li>
                            <a class="dropdown-item text-ashgray" href="{% url 'report-importer' %}">Report Uploader</a>
                        </li>
                    {% endif %}
                
                    {% if '/top-20' in request.path %}
                        <li>
                            <a class="dropdown-item text-ashgray" href="{% url 'top-20' %}">
                                <i class="fa-solid fa-arrow-right"></i> Top 20</a>
                        </li>
                    {% else %}
                        <li>
                            <a class="dropdown-item text-ashgray" href="{% url 'top-20' %}">Top 20</a>
                        </li>
                    {% endif %}

                    {% if '/sla' in request.path %}
                        <li>
                            <a class="dropdown-item text-ashgray" href="{% url 'sla' %}">
                                <i class="fa-solid fa-arrow-right"></i> SLA</a>
                        </li>
                    {% else %}
                        <li>
                            <a class="dropdown-item text-ashgray" href="{% url 'sla' %}">SLA</a>
                        </li>
                    {% endif %}
                
                    <li><a class="dropdown-item text-ashgray" href="#">Priority</a></li>
                    <li><a class="dropdown-item text-ashgray" href="#">Load Factor</a></li>
                </ul>
            </li>
            
            <li class="nav-item"><a href="#" class="nav-link text-ashgray">Freighters</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-ashgray">Data Controller</a></li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-ashgray" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    AWBs
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item text-ashgray" href="#">AWB Tracker</a></li>
                    <li><a class="dropdown-item text-ashgray" href="#">New AWBs</a></li>
                    <li><a class="dropdown-item text-ashgray" href="#">Sent AWBs</a></li>
                </ul>    
            </li>
            
            <li class="nav-item"><a href="#" class="nav-link text-ashgray">Logout</a></li>
        </ul>
    </header>
</div>